<!DOCTYPE html>
<html>
<head>
  <title>Braeger Woodworking Inc. | Drawer Fronts</title>
</head>
<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Braeger Woodworking", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home", root_path %></li>
        </ul>
      </nav>
    </div>
  </div>
</header
<h1>Braeger App</h1>
<p>
  This is the drawer fronts page for the
  braeger application.
</p>
