<div>
  <div style='display: inline; position: relative; left: -72px;'>#</div>
  <div style='display: inline; position: relative; left: -25px;'>Qty</div>
  <div style='display: inline; position: relative; left: 15px;'>Drawer Size (W x D X H)</div>
  <div style='display: inline; position: relative; left: 115px;'>Select Style</div>
  <div style='display: inline; position: relative; left: 245px;'>Parts</div>
  <div style='display: inline; position: relative; left: 400px;'>Bottoms (W x D)</div>
  <div style='display: inline; position: relative; left: 530px;'>Notes</div>
</div>
