<div style="background-color: #eaeaea; position: relative; left: -45px; width: 1025px; text-align:center">
  <br />
  <div style="position: relative; left: 10px;">
    JOB: <input type="text" /> 
    <div style="display: inline; position: relative; left: 49px;">
      TYPE OF WOOD: <input type="text" />
    </div>
  </div>
  <div style="position: relative; left: -15px;">
    DRAWER TYPE: <input type="text" />
    <div style="display: inline; position: relative; left: 25px;">
      TYPE OF BOTTOMS: <input type="text" />
    </div>
  </div>
  <br />
  <div>
    NOTES: 
    <select style="width: 250px">
      <option value="1">Recess Bottom 1/2, Removeable</option>
      <option value="2">Recess Bottom 1/2, Stationary</option>
      <option value="3">Recess Bottom 1/4, Removeable</option>
      <option value="4">Recess Bottom 1/4, Stationary</option>
    </select>
  </div>
</div>
