<div>
  <div style='display: inline; position: relative; left: -72px;'>#</div>
  <div style='display: inline; position: relative; left: -25px;'>Qty</div>
  <div style='display: inline; position: relative; left: 50px;'>Door Size (W x H)</div>
  <div style='display: inline; position: relative; left: 185px;'>Select Style</div>
  <div style='display: inline; position: relative; left: 310px;'>Style & Rail</div>
  <div style='display: inline; position: relative; left: 405px;'>Panel (W x H)</div>
  <div style='display: inline; position: relative; left: 510px;'>Notes</div>
</div>
