<div>
  <input type="text" style="width: 30px; font-family: monospace;" maxlength="3" />
  <input type="text" style="width: 30px; font-family: monospace; position: relative; left: 20px;" maxlength="3" />
  <input type="text" style="width: 160px; font-family: monospace; position: relative; left: 50px;" maxlength="20" />
  <select id="style_select" style="width: 200px; font-family: monospace; position: relative; left: 100px;">
  </select>
</div>
