<br />
Totals: <%= text_field_tag "txt_totals", nil,:style => "width: 875px", readonly: true %>
<br />
<div>
  <div style="align: left;">
    <button class="btn btn-large btn-primary" type="button" onclick="add_rows();">Add Rows</button>
    <button class="btn btn-large btn-primary" type="button" onclick="calculate();">Calculate</button>
    <div style="display: inline; float: right;">
      <%= submit_tag 'Save', :onclick => 'return check_values();', :class => 'btn btn-large btn-primary' %>
    </div>
  </div>
  <%= hidden_field_tag "row_tally", 0 %>
  <%= hidden_field_tag "created_job", 0 %>
</div>
