<br />
<button class="btn btn-large btn-primary" type="button" onclick="add_rows();">Add Rows</button>
<button class="btn btn-large btn-primary" type="button" onclick="calculate();">Calculate</button>
