<br />
Totals: <input type="text" id="txt_totals" style="width: 800px" readonly />
<br />
<button class="btn btn-large btn-primary" type="button" onclick="add_rows();">Add Rows</button>
<button class="btn btn-large btn-primary" type="button" onclick="calculate();">Calculate</button>
