<br />
Totals: <input type="text" id="txt_totals" style="width: 875px" readonly />
<br />
<div>
  <div style="align: left;">
    <button class="btn btn-large btn-primary" type="button" onclick="add_rows();">Add Rows</button>
    <button class="btn btn-large btn-primary" type="button" onclick="calculate();">Calculate</button>
    <div style="display: inline; float: right;">
      <button class="btn btn-large btn-primary" type="button" onclick="save();">Save</button>
    </div>
  </div>
</div>
