<div>
  <div style='display: inline; position: relative; left: -72px;'>#</div>
  <div style='display: inline; position: relative; left: -25px;'>Qty</div>
  <div style='display: inline; position: relative; left: 35px;'>Door Size (W x H)</div>
  <div style='display: inline; position: relative; left: 155px;'>Select Style</div>
  <div style='display: inline; position: relative; left: 275px;'>Parts F & B</div>
  <div style='display: inline; position: relative; left: 400px;'>Panel (W x H)</div>
  <div style='display: inline; position: relative; left: 540px;'>Notes</div>
</div>