<div style="background-color: #eaeaea; position: relative; left: -45px; width: 1025px;">
  <br />
  <div style="position: relative; left: 87px;">
    JOB: <input type="text" /> 
    TYPE OF WOOD: <input type="text" />
    INSIDE EDGE: <input type="text" />
  </div>
  <div style="position: relative; left: 10px;">
    OUTSIDE EDGE: <input type="text" />
    <div style="display: inline; position: relative; left: 3px;">
      PANEL PROFILE: <input type="text" />
    </div>
    <div style="display: inline; position: relative; left: 21px;">
      DATE DUE: <input type="text" />
    </div>
  </div>
  <br />
</div>
